<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="pseudoKron"
                 type="Aliencube.PseudoKron.Configurations.PseudoKronSettings, Aliencube.PseudoKron.Configurations"
                 requirePermission="false" />
    </configSections>

    <pseudoKron configSource="PseudoKron.config" />
</configuration>