<?xml version="1.0" encoding="utf-8" ?>
<pseudoKron>
    <dummyPage url="/Default.aspx" />
    <kronJobs>
        <!--
            key:       Unique key for the kronJob.
            command:   Command for the kronJob.
            startFrom: Date when the kronJob starts. Its format follows the ISO 8601 rule i.e. "yyyy-MM-dd HH:mm:ss".
            endTo:     Date when the kronJob ends. Its format follows the ISO 8601 rule i.e. "yyyy-MM-dd HH:mm:ss".
            frequency: Frequency for a day. If this is set, the kronJob takes place xxx times a day. This cannot be used with interval at the same time.
            interval:  Interval in minutes. If this is set, the kronJob takes place every xxx minutes. This cannot be used with frequence at the same time.
        -->
        <kronJob key="job1" command="/api/webservice" startFrom="2014-01-01 01:59:59" endTo="2020-12-31 23:59:59" frequency="48" interval="0" />
    </kronJobs>
</pseudoKron>